.description {
  margin: 0;
  padding: 0;
  margin-bottom: 120px;

  @media (max-width: 769px) {
    margin-bottom: 82px;
  }
}

.description__container {
  margin: 0 auto;
  width: 1220px;
  display: flex;
  flex-direction: row;

  @include vp-1023 {
    width: 670px;
  }

  @media (max-width: 769px) {
    flex-direction: column;
    width: 100%;
    padding: 0 25px;
  }
}

.description__img {
  margin-right: 100px;

  @media (max-width: 769px) {
    display: none;
  }
}

.description__paragraph {
  width: 970px;

  @include vp-1023 {
    width: 496px;
  }

  @media (max-width: 769px) {
    width: 100%;
  }
}

.description__paragraph h2 {
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  color: $black-pearl;

  @media (max-width: 769px) {
    width: 270px;
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 13px;
  }
}

.description__paragraph p {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  color: $black-pearl;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: 769px) {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 16px;
  }
}

.is-invalid {
  display: none;
}

.description__button {
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $deep-sky-blue;
  border: 1px solid $deep-sky-blue;
  border-radius: 3px;
  padding: 14px 12px;
  background-color: transparent;
  width: 180px;
  cursor: pointer;

  @media (max-width: 769px) {
    width: 160px;
    padding: 7px 12px;
  }
}

.description__paragraph span {
  @media (max-width: 769px) {
    display: none;
  }
}

.description__details span {
  display: none;

  @media (max-width: 769px) {
    display: block;
  }
}
