.footer-contacts {

  @media (max-width: 769px) {
    width: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;

    &::before {
      position: absolute;
      content: '';
      width: 320px;
      height: 2px;
      background-color: $whisper;
      background-repeat: no-repeat;
      top: -21px;
      left: -26px;
    }
  }
}

.footer-contacts h2 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  margin-bottom: 20px;

  @media (max-width: 769px) {
    margin-bottom: 17px;
  }
}

.footer-contacts__list {
  margin: 0;
  padding: 0;
  width: 345px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  @include vp-1023 {
    padding-top: 2px;
  }

  @media (max-width: 769px) {
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.footer-contacts__item {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  @include vp-1023 {
    margin-bottom: 9px;
  }

  @media (max-width: 769px) {
    width: 270px;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 15px;
  }
}

.footer-contacts__item p {
  margin: 0;
  padding: 0;
  color: $color-default-white;
  opacity: 0.7;
}

.footer-contacts__link {
  margin: 0;
  padding: 0;
  color: $color-default-white;
  opacity: 0.7;

  @media (max-width: 769px) {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.footer-contacts span {
  display: none;

  @media (max-width: 769px) {
    display: block;
  }
}

.footer-contacts__toggle {
  top: -7px;
  right: -6px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: relative;
  color: $color-default-white;
  font-size: 25px;

  display: none;

  @media (max-width: 769px) {
    display: block;
  }
}
