.intro {
  background-color: $black-pearl;
  background-image: url("../img/head-backg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  padding-bottom: 16px;
  margin-bottom: 120px;

  @media (min-width: 1024px) {
    @include retina {
      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/head-backg@2x.webp");
      }
    }
  }

  @include vp-1023 {
    background-image: url("../img/head-backg-tablet.jpg");
    margin-bottom: 80px;

    @include retina {
      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/head-backg-tablet@2x.webp");
      }
    }
  }

  @media (max-width: 769px) {
    background-image: url("../img/head-backg-mobile.jpg");
    margin-bottom: 50px;

    @include retina {
      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/head-backg-mobile@2x.webp");
      }
    }
  }
}

.intro__container {
  padding-top: 304px;
  padding-left: 0;
  padding-bottom: 280px;
  color: $alice-blue;
  margin: 0 auto;
  width: 1220px;

  @media (max-width: 1248px) {
    width: 670px;
  }

  @include vp-1023 {
    padding-top: 180px;
    padding-bottom: 205px;
    width: 670px;
  }

  @media (max-width: 769px) {
    padding-top: 150px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 174px;
    max-width: 100%;
  }
}

.intro__container h1 {
  margin: 0;
  padding: 0;
  padding-bottom: 34px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-left: 125px;

  @include vp-1023 {
    font-size: 64px;
    line-height: 75px;
    margin-left: 0;
    padding-bottom: 0;
  }

  @media (max-width: 769px) {
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 10px;
  }
}

.intro__container p {
  margin: 0;
  padding: 0;
  padding-bottom: 62px;
  font-size: 22px;
  line-height: 34px;
  color: $alice-blue1;
  width: 681px;
  margin-left: 125px;

  @include vp-1023 {
    font-size: 22px;
    line-height: 34px;
    width: 670px;
    margin-left: 0;
    padding-bottom: 74px;
  }

  @media (max-width: 769px) {
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    padding-bottom: 42px;
  }
}

.intro__link {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: $alice-blue1;
  border-radius: 3px;
  background-color: $deep-sky-blue;
  padding: 16px 30px;
  cursor: pointer;
  margin-left: 125px;
 /* --webkit-user-select: none;
	--khtml-user-select: none;
  --moz-user-select: none;
	--ms-user-select: none;*/
	user-select: none;

  @include vp-1023 {
    font-size: 18px;
    line-height: 21px;
    margin-left: 45px;
  }

  @media (max-width: 769px) {
    display: none;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 30px;
  }

  &:hover {
    @media screen and (min-width: $vp-1024) {
      color: $black-pearl;
    }
  }
}

.intro__link-mobile {
  display: none;

  @media (max-width: 769px) {
    display: block;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $alice-blue1;
    border-radius: 3px;
    background-color: $deep-sky-blue;
    padding: 12px 40px;
    cursor: pointer;
    min-width: 270px;
    text-align: center;
  }
}
