.page-header {
  top: 0;
  z-index: 100;
  margin: 0 auto;
  padding: 0;
  min-height: 120px;
  width: 100%;
  padding-top: 30px;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);

  @media(min-width: 1024px) {
    position: fixed;
  }

  @include vp-1023 {
    position: absolute;
    min-height: 100px;
    padding-top: 13px;
  }

  @media (max-width: 769px) {
    min-height: 70px;
    padding-top: 15px;
  }
}

.page-header__menu {
  margin: 0 auto;
  padding: 0;
  width: 1220px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 40px;

  @media (max-width: 1248px) {
    width: 1024px;
    padding-bottom: 0;
  }

  @include vp-1023 {
    margin: 0 auto;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (max-width: 769px) {
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-right: 13px;
  }

  @media (max-width: 350px) {
    padding-right: 27px;
  }
}

.page-header__item--logo {
  margin-right: 145px;

  @media (max-width: 1248px) {
    margin-right: 180px;
  }

  @include vp-1023 {
    padding-top: 7px;
    margin-right: auto;
  }

  @media (max-width: 769px) {
    padding-top: 0;
    margin-right: 133px;
  }
}

.page-header__contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 630px;
}

.page-header__contacts--email {
  margin-right: 106px;

  @media (max-width: 1248px) {
    margin-right: 20px;
  }

  @include vp-1023 {
    margin: 0;
    margin-left: auto;
    margin-right: 12px;
  }

  @media (max-width: 769px) {
    margin-left: auto;
    margin-right: 37px;
  }
}

.page-header__contacts--phone {
  margin-right: 152px;

  @media (max-width: 1248px) {
    margin-right: 50px;
  }

  @include vp-1023 {
    margin-right: 0;
  }

  @media (max-width: 769px) {
    margin-left: 0;
  }
}

.page-header__contacts--email,
.page-header__contacts--phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding-top: 14px;

  @include vp-1023 {
    padding-top: 16px;
  }

  @media (max-width: 769px) {
    padding-top: 5px;
    width: 22px;
  }
}

.page-header__contacts--email .page-header__link,
.page-header__contacts--phone .page-header__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-header__contacts--email .page-header__link svg {
  margin-right: 14px;
}

.page-header__contacts--phone .page-header__link svg {
  margin-right: 13px;
}

.page-header__contacts--email .page-header__link span,
.page-header__contacts--phone .page-header__link span {
  @include vp-1023 {
    display: none;
  }
}

.page-header__contacts--phone .page-header__link {
  @include vp-1023 {
    margin-right: 18px;
  }
}

.page-header__link {
  color: $alice-blue;
  margin: 0;
  margin-right: 15px;

  &:hover {
    @media screen and (min-width: $vp-1024) {
      text-decoration: underline;
    }
  }
}

.page-header__logo {
  margin: 0;
  padding: 0;

  @media (max-width: 769px) {
    display: none;
  }
}

.page-header__logo-mobile {
  display: none;

  @media (max-width: 769px) {
    margin: 0;
    padding: 0;
    display: block;
  }
}

.page-header__button {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $alice-blue1;
  background-color: transparent;
  border: 1px solid $alice-blue1;
  border-radius: 3px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  width: 160px;
  margin-top: 6px;
  cursor: pointer;

  @include vp-1023 {
    display: none;
  }

  &:hover {
    @media screen and (min-width: $vp-1024) {
      border: none;
      outline: 2px solid $deep-sky-blue;
      color:$deep-sky-blue;
    }
  }
}
